/* CSS Grid */
@media screen and (min-width: 1337px) {
	#landing-page .box-4 .content{
		
		margin: 5em 0;
	}

}
@media screen and (min-width: 981px) {

	.grid-wrapper {
		display: grid;
		grid-gap: 0 2.25em;
		grid-template-columns: repeat(12, 1fr);
		margin: 0 auto;
		width: 90%;
	}

	/* Generate Columns 1 through 12 */
	/*
		Example:
		.col-6 { grid-column: span 6; }
	*/

	$columns: 12;
	@mixin col-x-list {
	  	@for $i from 1 through $columns {
	      	.col-#{$i} {
	      		grid-column: span #{$i}
	      	}
	  	}
	}
	@include col-x-list;
	#brandsearch-page .brand-list .row.grid-wrapper{
		width: 90% !important;
	}
} 

@media screen and (max-width: 980px) {

	.grid-wrapper {
		display: grid;
		grid-gap: 0 2.25em;
		margin: 0 auto;
		width: 90%;
	}
	
	#landing-page .box-1 .details .content p{
		margin-bottom: .5em;
	} 
 
 
	#landing-page .box-4 .content{
		margin: 0 !important;
	}

	#landing-page .box-4 .sparkle-girls img{
		width: 100% !important;
		height: auto !important;
	}

	#landing-page .box-4 .content h2{
    	text-align: center !important;
	} 

	#landing-page .box-5 .content{
		padding: 1em 0 !important;
	}
 
	#landing-page .box-5 .content .brandings {
		background: rgba(255, 255, 255, 0.9);
	}
	#landing-page .box-5 .content .brandings .row {
		display: block;
	} 
	#landing-page .box-6{
		margin-top: 1em;
	}
	
	#landing-page .box-6 .content .clothes-picture img{
		width: 189px !important;
		height: 316px !important;
	}

	#landing-page .box-8 .content a{
		padding: 0em 1em  !important;
	}  

	#brandsearch-page .brand-list .row.grid-wrapper{
		width: 90% !important;
	}

	#brandsearch-page .box-1 .col-6{
		text-align: center !important;
		grid-column: span 6;
	}
	#brandsearch-page .box-1 .col-6 a{
		float: unset  !important
	}
	
	#brandsearch-page .brand-group .grid-wrapper h1{
		text-align: left !important;
	}
	#brandsearch-page .brand-list .grid-wrapper.no-result{
		padding: 5em !important;
	}
	
	#footer .grid-wrapper h3{
		font-size: 24px;
	}
}

@media screen and (min-width: 1141px) {

	.grid-wrapper {
		grid-gap: 0 3em;
		width: 60em;
	}
	#landing-page .box-3 .note-1{
		font-size: 16px !important; 
	} 
	#landing-page .box-5{
		height: 896px;
	} 
	#landing-page  .box-5 .content .brandings{
		height: 407px;
		background: rgba(255, 255, 255, 0.9);
		padding: 5% 5% 0 5%;
		width: 747px;
	}

	#landing-page .box-8{
		height: 977px;
	}

	#landing-page .box-8 .title{
		line-height: 70px;
		font-size: 64px;
		letter-spacing: 2px;
		color: #FFFFFF;
		margin-bottom: 30px;
	}
}
@media screen and (max-width: 736px) {

	.grid-wrapper {
		grid-gap: 0 3em;
		display: grid;
		grid-gap: 0 2.25em;
		margin: 0 auto;
	}

	#landing-page .box-1 .details .hashtag{
		text-align: center;
		margin-bottom: 1em;
	}
	#landing-page .box-1 .details .content p{
		line-height: 22px;
		font-size: 20px;
	}  

	#landing-page .box-2 .service ul{
		font-size: 18px !important;
		line-height: 24px !important;
		letter-spacing: 0 !important;
	}   

	#landing-page .box-3 h2{
		font-size: 2em;
	}

	#landing-page .box-3 .note-1{ 
		font-size: 12px !important;
	}

	#landing-page .box-4 .content{
		margin: 0 !important;
		padding: 0 2em;
	}  

	#landing-page .box-5 {
		background-position: top !important;
		background-size: cover !important;
	}

	#landing-page .box-5 .content{
		padding: 1em 0 !important;
	} 
	#landing-page .box-5 .content .brandings {
		background: rgba(255, 255, 255, 0.9);
		width: 80%;
		display: flex;
		flex-direction: column;
		justify-self: center;
	}
	#landing-page .box-5 .content .brandings .row {
		display: block;
	} 
	#landing-page .box-5 .content .brandings .view-more{
		text-align: center !important;
	} 
	#landing-page .box-6{
		margin-top: 1em;
	}

	#landing-page .box-6 .content .clothes-picture img{
		width: 189px !important;
		height: 316px !important;
	}
	
	#landing-page .box-6 .content .clothes-details .title{
		font-size: 18px !important;
		letter-spacing: 2px !important;
	}

	#landing-page .box-6 .content .clothes-details .info{
		font-size: 12px !important;
	}

	#landing-page .box-6 .content .clothes-picture img{		
		width: 120px !important;
		height: 194px !important;
	}  
}

@media screen and (max-width: 440px) {
	#landing-page .box-1 .details .hashtag{
		text-align: center !important;
		font-size: 1em !important;
	}

	#landing-page .box-1 .details .content p{
		line-height: 24px !important;
		font-size: 20px !important;
		letter-spacing: 2px !important;
		width: 60% !important;
	}

	#landing-page .box-1 .details .content a{
		line-height: 40px !important;
		font-size: 12px !important;
		letter-spacing: 2px !important;
	} 
	#landing-page .box-2 .service ul{
		font-size: 18px !important;
		line-height: 24px !important;
		letter-spacing: 0 !important;
	}  

	#landing-page .box-4 .image.fit{
		margin: 1em 0;
	}

	#landing-page .box-4 .sparkle-girls img{
		height: auto !important;
		width: 100% !important;
	}

	#landing-page .box-4 .content{
		margin: 0 !important;
	}
	
	#landing-page .box-4 .content h2{
		text-align: center !important;
	}

	#landing-page .box-4 .content ol li{
		font-size: 14px !important;
	}

	#landing-page .box-4 .content .note-2 { 
		line-height: 1em;
		margin-bottom: 1em;
	}

	#landing-page .box-5 {
		background-size: cover !important;
		background-position: top !important;
		padding: 60px 0 !important;
	} 
	
	#landing-page .box-5 .content .brandings {
		background: rgba(255, 255, 255, 0.9);
		width: 80%;
		display: flex;
		flex-direction: column;
		justify-self: center;
	}
	#landing-page .box-5 .content .brandings .row{
		// display: none;
		justify-content: center;
		display: block !important;
		margin: 0 !important;
		padding: 0 !important;
		width: 100%;
	}  
	#landing-page .box-6 {
		padding: 30px 0 !important;
	}
	#landing-page .box-6 h2{
		font-size: 20px;
	}

	#landing-page .box-6 .content .clothes-details .title{
		font-size: 15px !important;
		letter-spacing: 1px !important;
	}

	#landing-page .box-6 .content .clothes-picture img{		
		width: 196px !important;
		height: 279px !important;
	}
	#landing-page .box-7 .content .context{
		width: 80% !important;
	} 

	#landing-page .box-8 .content a{
		padding: 0em 1em  !important;
		width: 180px !important;
		height: 40px !important;
		font-size: 16px !important;
	}
	#brandsearch-page .box-1 .col-6 a{
		padding: 0 1em !important;
	}

	#brandsearch-page .brand-group .grid-wrapper h1{
		text-align: left !important;
		margin: 0 !important;
	}
	
	#brandsearch-page .brand-list .grid-wrapper{
		margin-bottom: 2em !important;
	}
	#brandsearch-page .brand-list .grid-wrapper.no-result{
		padding: 3em !important;
	}
	
	#footer .grid-wrapper h3{
		font-size: 16px;
	}
}

@media screen and (max-width: 370px) {

	#landing-page .box-3{
		padding: 15px 5px !important
	}

	#landing-page .box-3 .note-1{ 
		font-size: 10px !important;
	}

	
	#landing-page .box-5 .content{
		padding: 0.5em 0 !important;
	} 

	#landing-page .box-5 .content .brandings {
		background: rgba(255, 255, 255, 0.9);
	}
	#landing-page .box-5 .content .brandings .row {
		display: block;
	} 
	#brandsearch-page .box-1 .col-6 a{
		padding: 0 1em !important;
	}

	#brandsearch-page .brand-group .grid-wrapper h1{
		text-align: left !important;
		margin: 0 !important;
	}
	#brandsearch-page .brand-list .grid-wrapper{
		margin-bottom: 2em !important;
	}
	#brandsearch-page .brand-list .grid-wrapper.no-result{
		padding: 3em !important;
	}
	
	#footer .grid-wrapper h3{
		font-size: 14px;
	}
}


@media screen and (max-width: 320px) {

	#landing-page .box-5 .content{
		padding: 0.5em 0 !important;
	} 
	#landing-page .box-5 .content .brandings {
		background: rgba(255, 255, 255, 0.9);
	}
	#landing-page .box-5 .content .brandings .row {
		display: block;
	}  
	#brandsearch-page .box-1 .col-6 a{
		padding: 0 1em !important;
	}
	#brandsearch-page .brand-group .grid-wrapper h1{
		text-align: left !important;
		margin: 0 !important;
	}
	#brandsearch-page .brand-list .grid-wrapper{
		margin-bottom: 2em !important;
	}

	#brandsearch-page .brand-list .grid-wrapper.no-result{
		padding: 3em !important;
	}
	#footer .grid-wrapper h3{
		font-size: 12px;
	}

}