
/* Custom styles */
.row{
    padding: 1em 0;
}

/* header */
#custom-header .header-container{ 
    font-family: Helvetica;
    line-height: normal;
    font-size: 20px;
	background-color: #fff;
	width: calc(100vw - 60px); 
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 30px;
}

#custom-header .header-container .nav-items {
	width: 40%;
	font-weight: 400;
}

#custom-header .header-container .nav-items .nav-item {
	margin-right: 20px;
	cursor: pointer;
	text-decoration: none;
	color: #000;
    font-weight: 600;
    text-transform: uppercase;
}

#custom-header .header-container .button-wrapper .contact-us-button{ 
    width: 228px;
    height: 57px;
    background: #FF6B00;
}
#custom-header .header-container.show-mobile-flex{  
	width: 100vw
}


#custom-header .header-container.show-mobile-flex .header-title{
    display: flex;
    justify-content: center;
    align-content: center;
}
#custom-header .header-container.show-mobile-flex .header-title p{
    margin: unset;
    font-family: Helvetica;
    line-height: 13px;
    color: #FF6B00;
    letter-spacing: 2px;
}
/* landing-page */
#landing-page{
    background: white;
    font-family: Helvetica;
}

#landing-page .hashtag{
    font-family: Helvetica;
    line-height: normal;
    font-size: 24px;
    text-align: left;
    letter-spacing: 3px;
    color: #000000;
}
#landing-page .box-1 .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#landing-page .box-1 .content p{
    font-family: Helvetica;
    line-height: normal;
    font-size: 44px;
    text-align: center;
    letter-spacing: 2px;
    color: #000000;
    font-weight: 700;
    margin-bottom: 40px;
}

#landing-page .box-1 .details .button-wrapper {
    width: 242px;
    height: 44px;
    border-radius: 15px;
}

#landing-page .box-1 .details .button-wrapper .interested-btn{ 
    line-height: 40px;
    font-size: 15px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#landing-page .box-1 .details{
    float:left;
}

#landing-page .box-1 .flower-dress{
    float:right;
}

/* #landing-page .box-1 .flower-dress img{
    width: 100%;
    height: auto;
} */

/* box-2 */

#landing-page .box-2 {
    background: #FF6B00;
}

#landing-page .box-2 .grid-wrapper{
    width: 90vw;
}

#landing-page .box-2 .service{
    color: #FFFFFF !important;
    margin: 20px;
}

#landing-page .box-2 .service .title-text{
    color: #FFFFFF;
    font-weight: bold;
    font-family: Helvetica;
    font-style: Medium;
    font-size: 32px;
    line-height: 39px;
    text-align: left;
    letter-spacing: 2px;
}

#landing-page .box-2 .service .list{
    display: block;
    margin: 1em 0px;
}

#landing-page .box-2 .service .camera-list, #landing-page .box-2 .service .x-list{
    margin-bottom: .5em;
}

#landing-page .box-2 .service .camera-list .icon, #landing-page .box-2 .service .x-list .icon, #landing-page .box-2 .service .check-list .icon{
    display: inline-block;
    margin-right: 15px;
}

#landing-page .box-2 .service .camera-list .text, #landing-page .box-2 .service .x-list .text , #landing-page .box-2 .service .check-list .text{
    display: inline-block;
}
#landing-page .box-2 .col-6{
    padding: 15px;
} 

#landing-page .box-2 .purple-dress {
    align-items: center;
    display: flex;
}

#landing-page .box-2 .purple-dress img{
    height: auto;
    width: 100%;
}

#landing-page .box-2 .image.fit{
    margin: 0;
}

/* box-3 */
#landing-page .box-3{
    text-align: center;
    padding: 40px;
}

#landing-page .box-3 h2{
    color: #FF6B00; 
}
#landing-page .box-3 .pricing{
    font-family: Helvetica;
    grid-gap: 0;
    line-height: normal;
    letter-spacing: 2px;
    color: #000000;
    width: 100%;
}
#landing-page .box-3 .pricing{ 
    display: flex;
    justify-content: space-evenly;
} 

#landing-page .box-3 .pricing.show-mobile-flex .trade-in,#landing-page .box-3 .pricing.show-mobile-flex .get-up{ 
    width: 50%;
}

#landing-page .box-3 .pricing.show-mobile-flex .trade-title, #landing-page .box-3 .pricing.show-mobile-flex .get-up-title{ 
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #000000; 
    margin-bottom: 1em;
    line-height: 30px;
    border-bottom: 1px solid; 
    margin: 0 2rem 2em;
}


#landing-page .box-3 .pricing.show-mobile-flex .items{ 
    line-height: normal;
    font-size: 17px;
    letter-spacing: 2px;
    margin: unset;
}

#landing-page .box-3 .pricing.show-mobile-flex .trade-items{ 
    border-right: 1px solid;
}


#landing-page .box-3 .note-1 {
    line-height: normal;
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
    color: #000000;
    padding: 5% 15%;
    text-align: center;
    border-bottom: 1px solid #FF6B00;
    padding-bottom: 50px;
}

/* box-4 */
#landing-page .box-4 .grid-wrapper{
    width: 90vw;
}

#landing-page .box-4 .content{
    text-align: center;
    margin: 5em 0;
}

#landing-page .box-4 .content h2{
    color: #FF6B00;
    font-weight: bold;
    text-align: left;
}

#landing-page .box-4 .content ol{
    margin-left: 1em;
}

#landing-page .box-4 .content ol > li {
    text-align: left;
    line-height: normal;
    font-size: 24px;
    letter-spacing: 2px;
    color: #000000;
    font-family: Helvetica;
    padding-left: 0;
}

#landing-page .box-4 .content .note-2{
    text-align: left;
}

/* box-5 */
#landing-page .box-5 {
    background-image: url(../images/4.jpg);
    width: 100%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#landing-page .box-5 .content{
    width: 90vw;
}

#landing-page  .box-5 .content h2{
    color: #FF6B00;
    font-weight: bold;
    text-align: left;
}

#landing-page .box-5 .content .brandings .row.grid-wrapper{
    grid-gap: 0;
    width: 100%;
}
#landing-page .box-5 .content .brandings .col-3{
    height: 40px;
    width: 121px;
    margin: 10%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#landing-page .box-5 .content .brandings .logo1{
    background-image: url(../images/logo1.png);
}

#landing-page .box-5 .content .brandings .logo2{
    background-image: url(../images/logo2.png);
}

#landing-page .box-5 .content .brandings .logo3{
    background-image: url(../images/logo3.png);
}

#landing-page .box-5 .content .brandings .logo4{
    background-image: url(../images/logo4.png);
}

#landing-page .box-5 .content .brandings .logo5{
    background-image: url(../images/logo5.png);
}

#landing-page .box-5 .content .brandings .logo6{
    background-image: url(../images/logo6.png);
}

#landing-page .box-5 .content .brandings .logo7{
    background-image: url(../images/logo7.png);
}

#landing-page .box-5 .content .brandings .logo8{
    background-image: url(../images/logo8.png);
}

#landing-page .box-5 .content .brandings .logo9{
    background-image: url(../images/logo9.png);
}

#landing-page .box-5 .content .brandings .logo10{
    background-image: url(../images/logo10.png);
}

#landing-page .box-5 .content .brandings .logo11{
    background-image: url(../images/logo11.png);
}

#landing-page .box-5 .content .brandings .logo12{
    background-image: url(../images/logo12.png);
}
#landing-page .box-5 .content .brandings .view-more{
    text-align: right;
    width: 100%;
}
#landing-page .box-5 .content .brandings .view-more a{
    line-height: normal;
    font-size: 24px;
    letter-spacing: 2px;
    color: #FF6B00;    
}

/* box-6 */
#landing-page .box-6 h2{
    color: #FF6B00;
    text-align: center;
}
#landing-page .box-6 .content .clothes-picture image.fit{
    justify-content: center;
    display: flex; 
}
#landing-page .box-6 .content .clothes-picture img{
    width: 376px;
    height: 574px;
}




#landing-page .box-6 .content .clothes-details{
    margin: 15px;
}

#landing-page .box-6 .content .clothes-details .title{
    line-height: normal;
    font-size: 30px;
    letter-spacing: 2px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px;
}

#landing-page .box-6 .content .clothes-details .info{
    font-family: Montserrat; 
    font-style: normal;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 2px;
    color: #000000;
    width: 80%;
    margin-bottom: 15px;
}

#landing-page .box-6 .content .clothes-details .price{
    font-family: Montserrat; 
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
    letter-spacing: 2px;
    color: #000000;
} 


#landing-page .box-6 hr{
    height: 1px;
    border: 0;
    margin: 2em 25%;
    padding: 1px;
    background-color: #FF6B00;
} 


#landing-page .box-6 .content.show-mobile .clothes-container , #landing-page .box-6 .content.show-mobile .clothes-container .clothes-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  

#landing-page .box-6 .content.show-mobile .clothes-container .clothes-picture .image.fit{
    margin: unset;
}
#landing-page .box-6 .content.show-mobile .clothes-container .clothes-details{
    text-align: center;
}
#landing-page .box-6 .content.show-mobile .clothes-container .clothes-details .title{
    font-weight: bold; 
    font-size: 15px;  
}
#landing-page .box-6 .content.show-mobile .clothes-container .clothes-details .info{
    font-weight: 500; 
    font-size: 12px;  
}
#landing-page .box-6 .content.show-mobile .clothes-container .clothes-details .price{  
    font-size: 12px;
    text-align: center; 
}
#landing-page .box-6 .content .contact-details form{
    text-align: center
} 

#landing-page .box-7 .content .title{
    line-height: normal;
    font-size: 24px;
    text-align: center;
    letter-spacing: 2px; 
    color: #FF6B00; 
    padding: 0 20rem;
}



#landing-page .box-7 .content .contact-details form button{
    width: 235px;
    height: 59px;
    background: #FF6B00;
    border-radius: 15px;
    font-family: Helvetica;
    line-height: 40px;
    font-size: 15px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: white;
    margin-top: 30px;
    cursor: pointer;
} 

#landing-page .box-7 .content .address{
    padding: 0 70px;
    color: black;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 2px;
}
#landing-page .box-7 .content .address .map img{
    height: auto;
    width: 100%;
}

/* box-8 */
#landing-page .box-8 .content{
    background-image: url(../images//5.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

#landing-page .box-8 .title{	
    color: #FFFFFF;
    font-size: 2em;
    margin-bottom: 1em;
}

#landing-page .box-8 .content .button-wrapper{
    border-radius: 15px; 
}
#landing-page .box-8 .content .button-wrapper .button{
    width: 235px;
    height: 59px;
}

/* brand-search-page*/
#brandsearch-page .box-1 .contact-us-btn{
    background: #FF6B00 !important;
    border-radius: 10px;
    color: white !important;
    float: right;
}

/* search-bar */
#brandsearch-page .search-bar h1{
    text-align: center;
    font-weight: bold;
    color:black !important;
}

#brandsearch-page .form-control {
    font-size: 2rem;
    padding: 25px 15px;
}

#brandsearch-page #search-bar{
    margin-bottom: 5em !important;
}

#brandsearch-page .brand-list .row.grid-wrapper{
    width: 80em;
    grid-gap: 0 2em !important;
    margin-bottom: 5em;
}

#brandsearch-page .brand-list .row.grid-wrapper .brand-group .grid-wrapper{
    width: 100% !important;
    margin-bottom: 2em;
}
#brandsearch-page .brand-group .grid-wrapper h1{
    text-align: right;
    color: #000000 !important;
    line-height: 1em !important;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
#brandsearch-page .brand-group .grid-wrapper .brands-list .name{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 22px;
    color: #000000;
    margin-bottom: .5em;
}
#brandsearch-page .brand-list .grid-wrapper.no-result{
    text-align: center;
    padding: 10em !important;
}

#brandsearch-page .brand-group .grid-wrapper .brands-list .main h2{
    text-align: center;
}



